* {
  margin: 0;
  padding: 0;
}

.current {
  border: #f15d43 1px solid;
  border-radius: 5px;
  color: #fff;
  background: #f15d43;
}

.btn {
  border: #f15d43 1px solid;
  color: #fff;
  background-color: #f15d43;
}

.btn:hover {
  border: #f15d43 1px solid;
  color: #000000;
  background-color: #f15d43;
}
