html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#navbar .nav-link.active {
  background: #f15d43;
  color: #fff;
  border-radius: 5px;
}

.current {
  border: #f15d43 1px solid;
  border-radius: 5px;
  color: #fff;
  background: #f15d43;
}

.btn {
  border: #f15d43 1px solid;
  color: #fff;
  background-color: #f15d43;
}

.btn:hover {
  border: #f15d43 1px solid;
  color: #000000;
  background-color: #f15d43;
}

.bg-orange {
  background: #f15d43;
  max-width: 100%;
  height: 100%;
}

#contact {
  background: url(./images/Download\ Abstract\ grunge\ black\ orange\ background\ for\ free.jfif)
    no-repeat center center/cover;
}

#featured-head {
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

#featured {
  background: url(./images/pexels-jacob-moore-14411404.jpg) no-repeat center
    center/cover;
}

.primary-text {
  font-family: "Yantramanav", sans-serif;
}

.password a {
  font-size: smaller;
  padding-top: 0;
  margin-top: 0;
}

.password a:hover {
  color: #b5b5b5;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
}

.pagination a {
  color: #000000;
}

.pagination a:hover {
  color: #f15d43;
}

.pagination .active {
  color: #fff;
  background: #f15d43;
}

.active {
  background-color: #f15d43;
}

#pagi .active {
  color: #fff;
  border: 1px #f15d43 solid;
  background-color: #f15d43;
}
